* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-family: sans-serif;
}


/****navBar******/

.navbar {
    background-color: hsla(308, 85%, 32%, 0.774);
    text-align: center;
    font-size: 18px;
}


/****navBar end******/


/****header section****/


/*****header section end****/


/***card section start******/

.card h2 {
    font-size: 1.5rem;
    margin: 40px 0 25px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.header-extradiv {
    margin-top: 10px;
    width: 100%;
    height: auto;
    text-align: center;
}

.container {
    width: 100%;
}

.row {
    margin-top: 30px;
}

.card {
    margin-top: 20px;
    margin-bottom: 50px;
    background: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 20px;
    transition: 0.5s;
    width: 30%;
}

.card:hover {
    box-shadow: 0 0 20px 0 hsla(308, 85%, 32%, 0.774);
    transform: translateY(-20px);
}

.card a {
    color: hsla(308, 85%, 32%, 0.774);
}

.card-heading h2 {
    padding-top: 90px;
    font-weight: bolder;
    font-size: 35px;
    line-height: 2.1;
    word-spacing: 3px;
    letter-spacing: 1.5px;
}


/***card section end******/


/*content-part*/

.content-body-part {
    display: flex;
}

.content-part-image img:hover {
    box-shadow: 0 0 20px 0 hsla(308, 85%, 32%, 0.774);
}

.content-part-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: 0.5s;
}

.content-part-para {
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    max-width: 100%;
    height: auto;
}


/****content button ****/

.content-part-para a {
    text-decoration: none;
    color: inherit;
}

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: hsla(308, 85%, 32%, 0.774);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: hsla(308, 85%, 32%, 0.774);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}


/*****content one section start*****/

.content-part-one-body {
    background-color: rgba(250, 236, 249, 0.822);
}

.content-part-image-one {
    padding-top: 70px;
    margin-left: 70px;
    margin-bottom: 70px;
    max-width: 100%;
    height: auto;
}


/*****content one section end*****/


/*****content two section start*****/

.content-part-two-body {
    background-color: rgb(255, 255, 255);
}

.content-body-part-two {
    flex-direction: row-reverse;
}

.content-part-image-two {
    padding-top: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
    max-width: 100%;
    height: auto;
}


/*****content two section end*****/


/**footer section start***/

.footer-card-heading {
    padding-top: 40px;
    color: whitesmoke;
}

.footer-card-heading h2 {
    font-size: 1.5rem;
    margin: 40px 0 25px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background-image: linear-gradient(hsla(308, 85%, 32%, 0.774), hsla(308, 85%, 32%, 0.774)), url(footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    position: relative;
    text-align: center;
}

.footer-card h2 {
    font-size: 1.5rem;
    margin: 40px 0 25px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    letter-spacing: 2px;
    color: whitesmoke;
}

.footer-card {
    background: none;
    border: medium none;
    padding: 50px !important;
    border-radius: 20px;
    transition: 0.5s;
}

.footer-card a {
    color: white;
}

.footer-card p {
    color: whitesmoke;
}

.lab_social_icon_footer {
    padding: 40px 0;
    background-color: none;
}

.lab_social_icon_footer a {
    color: rgb(255, 255, 255);
}

.lab_social_icon_footer .social:hover {
    transform: scale(1.1);
}

.lab_social_icon_footer .social {
    transform: scale(0.8);
    transition-duration: 0.5s;
}


/*  Multicoloured Hover Variations */

.lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

.lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}

.lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

.lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}